body {
  font-family: poppins;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 480px)
 { .layout { 
   outline: 4px solid #fff;
 margin: 10px auto;
  display: grid;
  grid:
    "header" 1fr
    "main" 2fr
    "aside" 1fr
    "footer" 1fr
    / 1fr;
  gap: 8px; }
}

@media only screen and (min-width: 321px) and (max-width: 768px)
{   .layout { 
   outline: 4px solid #fff;
 margin: 10px auto; 
 display: grid;
  grid:
    "header header header" 1fr
    "aside main main" 2fr
    "footer footer footer" 1fr
    / 1fr 1fr 1fr;
  gap: 8px; } 
}

@media only screen and (min-width: 768px) 

{ .layout { 
   outline: 4px solid #fff;
 margin: 10px auto; 
  display: grid;
  grid:
    "header header header" 1fr
    "aside main main" 2fr
    "footer footer footer" 1fr
    / 1fr 1fr 1fr;
  gap: 8px; } 
}

.header { 
  background-color: pink;
  grid-area: header;
  padding: 10px; }
.aside { 
  background-color: seagreen;
  grid-area: aside;
  padding: 10px; }
.main { 
  background-color:lightcoral;
  grid-area: main;
  padding: 10px; }
.footer { 
  background-color: lightcyan;
  grid-area: footer;
  padding: 10px; 
  margin-top: auto;
 
}